*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

:root{
    --body-color: #efefef;
    --nav-color: #1876f2;
    --bg-color: #fff;
}

.dark-theme{
    --body-color: #0a0a0a;
    --nav-color: #000;
    --bg-color: #000;
}

body{
    background-color: var(--body-color);
    transition: background 0.3s;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-color);
    padding: 5px 5%;
    height: 110px;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    width: 350px;
    margin-right: 45px;
}
.nav-left, .nav-right{
    display: flex;
    align-items: center;
}
.nav-left ul li{
    list-style: none;
    display: inline-block;

}
.nav-left ul li img{
    width: 60px;
    margin: 0px 40px;
}
.nav-user-icon{
    margin-left: 30px;
}
.nav-user-icon img{
    width: 72px;
    border-radius: 50%;
    cursor: pointer;
}
.search-box{
    background-color: #efefef;
    width: 600px;
    height: 64px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0px 15px;
}
.search-box img{
    width: 40px;
}
.search-box input{
    width: 100%;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border: 0px;
    font-size: 20px;
}
.online{
    position: relative;

}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}
.left-sidebar{
    
    flex-basis: 25%;
    position: sticky;
    top: 125px;
    align-self: flex-start;
    
}
.right-sidebar{
    
    flex-basis: 25%;
    position: sticky;
    top: 125px;
    align-self: flex-start;
    background-color: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    color: #626262;
    
}
.main-content{
    flex-basis: 47%;
}

.imp-links a, .shortcut-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 43px;
    color: #626262;
    width: fit-content;
    font-size: 30px;
    margin-top: 43px;
}
.imp-links a img{
    width: 72px;
    margin-right: 15px;

}
.imp-links a:last-child{
    color: #1876f2;
}
.imp-links{
    border-bottom: 1px solid  #ccc;
}
.shortcut-links p{
    font-size: 40px;
    margin: 25px 0px;
    color: #626262;
    font-weight: 500;
}
.shortcut-links a img{
    width: 90px;
    border-radius: 4px;
    margin-right: 15px;
}

.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;

}
.right-sidebar h4{
    font-weight: 600;
    font-size: 30px;
}
.sidebar-title a{
    text-decoration: none;
    color: #1876f2;
    font-size: 30px;
}

.event{
    display: flex;
    font-size: 40px;
    margin-bottom: 80px;
}
.left-event{
    border-radius: 10px;
    height: 127px;
    width: 188px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.event p{
    font-size: 40px;

}
.event a{
    font-size: 40px;
    text-decoration: none;
    color: #1876f2;
}
.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1876f2;
    color: #fff;
    font-size: 40px;
    padding: 4px 0;
}
.sidebar-ads{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}

.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.online-list .online img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.online-list .online{
    width: 58px;
    border-radius: 50%;
    margin-right: 60px;
}
.online-list p{
    font-size: 30px;
}
.online-list .online::after{
    top: unset;
    bottom: 0;
    right: 0;
}

.story-gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    overflow-x: auto;
    max-width: 1278px ;
}
.story{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    min-width: 200px;
    height: 50px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin: 0 10px;
}
.story img{
    position: absolute;
    min-width: 65px;
    height: 65px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 5px solid #1876f2;
}
.story p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 30px;
}
.story1{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-1.png);
}
.story2{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-2.jpg);
}
.story3{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-3.jpg);
}
.story4{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-4.jpg);
}
.story5{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-5.jpg);
}
.story.story1 img{
    top: unset;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
    border: 0;
    width: 70px;
}

.write-post-container{
    width: 100%;
    background-color: var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile img{
    width: 70px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-profile p{
    margin-bottom: 5px;
    font-weight: 500;
    color: #626262;
    font-size: 25px;
}
.user-profile small{
    font-size: 15px;
}

.post-input-container{
    padding-left: 55px;
    padding-top: 20px;
}
.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    font-size: 40px;
    resize: none;
}
.add-post-links{
    display: flex;
    margin-top: 10px;

}
.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 150px;
    font-size: 20px;
}
.add-post-links a img{
    width: 60px;
    margin-right: 50px;
}
.post-container{
    width: 100%;
    background-color: var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
    /* display: flex; */
}
.user-profile span{
    font-size: 15px;
    color: #9a9a9a;
}
.write-post-container p{
    font-size: 30px;
}
.post-text{
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 30px;
}
.post-text span{
    color: #626262;
    font-weight: 500;
}
.post-text a{
    color: #1876f2;
    text-decoration: none;
}
.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}

.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}
.activity-icons div img{
    width: 55px;
    margin-right: 10px;

}
.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 75px;
}
.post-profile-icon{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.post-profile-icon img{
    width: 54px;
    border-radius: 50%;
    margin-right: 5px;
}
.post-row a{
    color: #9a9a9a;
}
.load-more-btn{
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #626262;
    background-color: transparent;
    border-radius: 4px;
    font-size: 30px;
}
.footer{
    text-align: center;
    color: #9a9a9a;
    padding: 10px 0 30px 0;
    font-size: 30px;
}

.settings-menu{
    position: absolute;
    width: 90%;
    max-width: 650px;
    
    background-color: var(--bg-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.3s;
}
.settings-menu-height{
    max-height: 650px;
}

.user-profile a{
    font-size: 30px;
    color: #1876f2;
    text-decoration: none;
}
.settings-menu-inner{
    padding: 20px;
}
.settings-menu hr{
    border: 0;
    height: 1px;
    background-color: #9a9a9a;
    margin: 15px 0;
}
.settings-links{
    display: flex;
    align-items: center;
    margin: 15px 0;

}
.settings-links .settings-icon{
    width: 95px;
    margin-right: 10px;
    border-radius: 50%;
}
.settings-links a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
    font-size: 30px;
}
#dark-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ccc;
    width: 65px;
    height: 35px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s, background 0.5s;
}
#dark-btn span{
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;

}
#dark-btn.dark-btn-on{
    padding-left: 35px;
    background-color: #0a0a0a;

}

/* ----------profile page css ---------- */

.profile-container{
    padding: 20px 15%;
    color: #626262;
}
.cover-img{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 14px;
}
.profile-details{
    background-color: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.pd-row{
    display: flex;
    align-items: flex-start;
}
.pd-image{
    width: 300px;
    margin-right: 20px;
    border-radius: 6px;
}
.pd-row div h3{
    font-size: 40px;
    font-weight: 600;
}
.pd-row div p{
    font-size: 30px;
}
.pd-row div img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 10px;
}
.pd-right button{
    background-color: #1876f2;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 3px;
    margin-left: 50px;
    cursor: pointer;
    font-size: 30px;
    margin-top: 20px;
    margin-right: 20px;
}
.pd-right button img{
    height: 75px;
    width: 100px;
    margin-right: 10px;
}
.pd-right button:first-child{
    background-color: #e4e6eb;
    color: #000;
}
.pd-right{
    text-align: right;
}
.pd-right a{
    background-color: #e4e6eb;
    border-radius: 3px;
    padding: 12px;
    display: inline-flex;
    margin-top: 30px;
    margin-right: 20px;
}
.pd-right a img{
    width: 40px;
}
.profile-info{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;

}
.info-col{
    flex-basis: 33%;
}
.post-col{
    flex-basis: 65%;
}
.profile-intro{
    background-color:var(--bg-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.profile-intro h3{
    font-weight: 600;
    font-size: 30px;
}
.intro-text{
    text-align: center;
    margin: 10px 0;
    font-size: 20px;
}
.intro-text img{
    width: 35px;
    margin-bottom: -14px;
}
.profile-intro hr{
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 24px 0;
}
.profile-intro ul li{
    list-style: none;
    font-size: 30px;
    margin: 15px 0;
    display: flex;
    align-items: center;
}
.profile-intro ul li img{
    width: 55px;
    margin-right: 25px;
}
.title-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-box a{
    text-decoration: none;
    color: #1876f2;
    font-size: 30px;
}
.photo-box{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    margin-top: 15px;

}
.photo-box div img{
    width: 100%;
    cursor: pointer;
}
.profile-intro p{
    font-size: 30px;
}
.friends-box{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    margin-top: 15px;
}
.friends-box div img{
    width: 100%;
    cursor: pointer;
    padding-bottom: 50px;
}
.friends-box div{
    position: relative;
}
.friends-box p{
    position: absolute;
    bottom: 0;
    left: 0;
}

/* ---------- media query for home page --------------- */

@media (max-width : 1730px) {
    .right-sidebar{
        display: none;
    }
    .left-sidebar{
        display: none;
    }
    nav{
        /* flex-wrap: wrap; */
        width: 123%;
    }
    .search-box{
        display: none;
    }
    .logo{
        width: 300px;
    }
    .post-text{
        font-size: 40px;
    }
    .write-post-container p{
        font-size: 40px;
    }
    .user-profile small{
        font-size: 30px;
    }
    .add-post-links a{
        font-size: 40px;
    }
    .activity-icons div {
        font-size: 40px;
    }
}

/* ---------- media query for profile page -------------- */
@media (max-width: 1730px) {
    .profile-container{
        padding: 20px 5px;
    }
}